@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
a {
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

input,
button {
  font-family: 'Poppins', sans-serif;
}

.header-bg {
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(0, 0, 0, 0.08)), color-stop(8%, rgba(26, 26, 26, 0.4))), url(../images/banner-bg.png);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 8%, rgba(26, 26, 26, 0.4) 8%), url(../images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 570px;
}

.header__main {
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top--img {
  display: block;
  width: 100%;
}

.header__top--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__top--link {
  color: #fff;
  text-transform: uppercase;
}

.header__top--link:hover, .header__top--link:focus {
  color: #f64b3c;
}

.header__home {
  margin-top: 60px;
}

.header__home--article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  width: 409px;
}

.header__home--firstheading {
  color: #fff;
  font-size: 50px;
}

.header__home--paragraph {
  color: #fff;
}

.header__home--cta {
  display: block;
  background-color: #f64b3c;
  color: #fff;
  width: 223px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 32px;
}

.header__home--cta:hover, .header__home--cta:focus {
  background-color: transparent;
  border: 1px solid #f64b3c;
  color: #f64b3c;
}

.ourChef-bg {
  background: #ffedec;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, rgba(255, 237, 236, 0.08)), to(rgba(255, 237, 236, 0.4))), url(../images/shapes.png);
  background: linear-gradient(rgba(255, 237, 236, 0.08) 8%, rgba(255, 237, 236, 0.4)), url(../images/shapes.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
}

.ourChef__main {
  padding-top: 110px;
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
}

.ourChef__header {
  padding-bottom: 80px;
}

.ourChef__header--secondheading {
  text-transform: capitalize;
  text-align: center;
  font-size: 50px;
  color: #f64b3c;
  margin-bottom: 20px;
}

.ourChef__header--paragraph {
  color: #f64b3c;
  text-align: center;
}

.ourChef__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "chefOne chefTwo chefThree";
  padding-bottom: 100px;
}

.ourChef__body--picture:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: chefOne;
}

.ourChef__body--picture:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: chefTwo;
}

.ourChef__body--picture:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: chefThree;
}

.ourChef__body--img {
  display: block;
  margin: auto;
  width: 250px;
  height: auto;
}

.ourChef__body--description {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.ourChef__body--smallheading {
  color: #f64b3c;
  text-transform: uppercase;
}

.ourChef__body--paragraph {
  color: #f64b3c;
}

.bestBurger-bg {
  background-color: #f64b3c;
}

.bestBurger__main {
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
  padding: 93px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bestBurger__picture {
  width: 48%;
}

.bestBurger__article {
  width: 48%;
}

.bestBurger__article--secondheading {
  text-transform: capitalize;
  font-size: 50px;
  color: #FFF;
  margin-bottom: 15px;
}

.bestBurger__article--paragraph {
  margin-bottom: 35px;
  color: #FFF;
}

.bestBurger__article--cta {
  display: block;
  background-color: #FFF;
  color: #f64b3c;
  width: 183px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 32px;
}

.bestBurger__article--cta:hover, .bestBurger__article--cta:focus {
  background-color: transparent;
  border: 1px solid #fff;
  color: #FFF;
}

.bestBurger__img {
  width: 100%;
  height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.bigburger-bg {
  background: #ffedec;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, rgba(246, 75, 60, 0.08)), to(rgba(255, 237, 236, 0.4))), url(../images/shapes2.png);
  background: linear-gradient(rgba(246, 75, 60, 0.08) 8%, rgba(255, 237, 236, 0.4)), url(../images/shapes2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
}

.bigburger__main {
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
  padding: 93px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bigburger__picture {
  width: 48%;
}

.bigburger__img {
  width: 100%;
  height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.bigburger__article {
  width: 48%;
}

.bigburger__article--secondheading {
  text-transform: capitalize;
  font-size: 50px;
  color: #f64b3c;
  margin-bottom: 15px;
}

.bigburger__article--paragraph {
  margin-bottom: 35px;
  color: #f64b3c;
}

.bigburger__article--cta {
  display: block;
  background-color: #f64b3c;
  color: #fff;
  width: 183px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 32px;
}

.bigburger__article--cta:hover, .bigburger__article--cta:focus {
  background-color: transparent;
  border: 1px solid #f64b3c;
  color: #f64b3c;
}

.statistics-bg {
  background-color: #f64b3c;
}

.statistics__main {
  padding: 93px 0;
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
}

.statistics__header {
  padding-bottom: 60px;
}

.statistics__header--secondheading {
  text-transform: capitalize;
  text-align: center;
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.statistics__header--paragraph {
  color: #fff;
  text-align: center;
}

.statistics__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.statistics__body--box {
  text-align: center;
  border: 5px solid #fff;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  height: 290px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistics__body--middleheading {
  font-size: 80px;
  line-height: 86px;
  color: #fff;
}

.statistics__body--paragraph {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

.package-bg {
  background: #ffedec;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, rgba(109, 43, 40, 0.08)), to(rgba(255, 237, 236, 0.4))), url(../images/shapes3.png);
  background: linear-gradient(rgba(109, 43, 40, 0.08) 8%, rgba(255, 237, 236, 0.4)), url(../images/shapes3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  padding-top: 110px;
}

.package__main {
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
}

.package__header--secondheading {
  text-transform: capitalize;
  text-align: center;
  font-size: 50px;
  color: #f64b3c;
  margin-bottom: 40px;
}

.package__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-bottom: 100px;
}

.package__body--box {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding: 47px 25px 22px;
  border-radius: 8px;
}

.package__body--img {
  width: 100%;
  display: block;
  padding: 20px 0;
}

.package__body--middleheading {
  color: #f64b3c;
  text-transform: uppercase;
  font-size: 27px;
}

.package__body--price {
  color: #f64b3c;
  font-size: 25px;
  font-weight: 600;
}

.package__body--paragraph {
  text-align: center;
  color: #f64b3c;
}

.package__body--cta {
  display: block;
  background-color: #f64b3c;
  color: #fff;
  width: 203px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 32px;
}

.package__body--cta:hover, .package__body--cta:focus {
  background-color: transparent;
  border: 1px solid #f64b3c;
  color: #f64b3c;
}

.contact-bg {
  background-color: #f64b3c;
}

.contact__main {
  padding: 93px 0;
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

.contact__main--secondheading {
  text-transform: capitalize;
  font-size: 50px;
  color: #FFF;
}

.contact__main--paragraph {
  font-size: 20px;
  color: #FFF;
  text-align: center;
}

.contact__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.contact__formulario--input {
  width: 70%;
}

.contact__formulario-in {
  width: 100%;
  height: 38px;
  padding: 20px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border: none;
}

.contact__formulario-in:focus, .contact__formulario-in:hover {
  outline: none;
}

.contact__formulario--btn {
  width: 30%;
}

.contact__formulario--cta {
  width: 100%;
  height: 40px;
  border: none;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  color: #fff;
  background-color: #000;
  font-size: 15px;
}
/*# sourceMappingURL=main.css.map */