@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
a {
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

input, button, textarea {
  font-family: 'Poppins', sans-serif;
}

.header-bg {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/banner-bg.png);
  background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4)), url(../images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 640px;
}

.header__main {
  max-width: 89%;
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
}

.header__top--toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__top--toggleClose {
  padding-top: 32px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__top--nav {
  position: fixed;
  top: 0;
  left: -800px;
  z-index: 999;
  background-color: #f64b3c;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.header__top--nav.active {
  left: 0;
}

.header__top--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.header__top--link {
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  position: relative;
}

.header__top--link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__top--link:hover::before {
  width: 50%;
}

.header__top--link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__top--link:hover::after {
  width: 50%;
}

.header__top--bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

.header__top--barClose {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

.header__top--barClose:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.header__top--barClose:nth-child(2) {
  opacity: 0;
}

.header__top--barClose:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.header__top--img {
  display: block;
  width: 100%;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__home {
  margin-top: 50px;
}

.header__description {
  min-width: 320px;
  max-width: 500px;
  padding: 0 29px;
  text-align: center;
}

.header__description--firstheading {
  color: #fff;
  font-size: 45px;
  line-height: 52px;
  margin-bottom: 48px;
}

.header__description--paragraph {
  color: #fff;
  font-size: 18px;
  margin-bottom: 50px;
}

.header__description--cta {
  display: block;
  margin: 0 auto;
  background-color: #f64b3c;
  color: #fff;
  width: 220px;
  height: 60px;
  line-height: 60px;
  border-radius: 32px;
}

.header__description--cta:hover, .header__description--cta:focus {
  background-color: transparent;
  border: 1px solid #f64b3c;
  color: #f64b3c;
}

@media screen and (min-width: 768px) {
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 28px;
  }
  .header__top--toggle {
    display: none;
  }
  .header__top--toggleClose {
    display: none;
  }
  .header__top--nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
  }
  .header__top--menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
  .header__top--link {
    font-size: 16px;
  }
  .header__top--link:hover, .header__top--link:focus {
    color: #f64b3c;
  }
  .header__top--link::before {
    display: none;
  }
  .header__top--link::after {
    display: none;
  }
  .header__top--bar {
    display: none;
  }
  .header__top--barClose {
    display: none;
  }
  .header__description {
    text-align: left;
    padding-top: 30px;
  }
  .header__description--firstheading {
    font-size: 55px;
    line-height: 65px;
  }
  .header__description--cta {
    display: block;
    margin: 0 auto 0 0;
    text-align: center;
  }
}

.ourChef-bg {
  background: #feeceb;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 236, 235, 0.5)), to(rgba(254, 236, 235, 0.5))), url(../images/shapes.png);
  background: linear-gradient(rgba(254, 236, 235, 0.5), rgba(254, 236, 235, 0.5)), url(../images/shapes.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.ourChef__main {
  max-width: 89%;
  margin: 0 auto;
  padding: 0 29px;
  padding-top: 109px;
  padding-bottom: 102px;
}

@media screen and (min-width: 768px) {
  .ourChef__main {
    padding-top: 59px;
    padding-bottom: 72px;
  }
}

.ourChef__header {
  margin-bottom: 82px;
}

.ourChef__header--secondheading {
  color: #f64b3c;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
}

.ourChef__header--paragraph {
  color: #f64b3c;
  text-align: center;
  font-size: 15px;
}

.ourChef__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.ourChef__body--smallheading {
  color: #f64b3c;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 5px;
}

.ourChef__body--paragraph {
  color: #f64b3c;
  text-align: center;
  text-transform: capitalize;
}

.ourChef__body--picture {
  margin-bottom: 24px;
}

.ourChef__body--img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bestBurger-bg {
  background-color: #f64b3c;
}

.bestBurger__main {
  max-width: 89%;
  margin: 0 auto;
  padding: 0 29px;
  padding-top: 109px;
  padding-bottom: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .bestBurger__main {
    padding-top: 59px;
    padding-bottom: 72px;
  }
}

.bestBurger__img {
  display: block;
  width: 100%;
}

.bestBurger__article {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.bestBurger__article--secondheading {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 25px;
}

.bestBurger__article--paragraph {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 59px;
}

.bestBurger__article--cta {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  color: #f64b3c;
  width: 220px;
  height: 60px;
  line-height: 60px;
  border-radius: 32px;
  text-align: center;
}

.bestBurger__article--cta:hover, .bestBurger__article--cta:focus {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.bestBurger__picture {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

@media screen and (min-width: 992px) {
  .bestBurger__article {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
  }
  .bestBurger__article--secondheading {
    text-align: left;
  }
  .bestBurger__article--paragraph {
    text-align: left;
  }
  .bestBurger__article--cta {
    margin: 0 auto 0 0;
  }
  .bestBurger__picture {
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
  }
}

.bigBurger-bg {
  background: #feeceb;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 236, 235, 0.5)), to(rgba(254, 236, 235, 0.5))), url(../images/shapes2.png);
  background: linear-gradient(rgba(254, 236, 235, 0.5), rgba(254, 236, 235, 0.5)), url(../images/shapes2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.bigBurger__main {
  max-width: 89%;
  margin: 0 auto;
  padding: 0 29px;
  padding-top: 109px;
  padding-bottom: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .bigBurger__main {
    padding-top: 59px;
    padding-bottom: 72px;
  }
}

.bigBurger__img {
  display: block;
  width: 100%;
}

.bigBurger__article {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.bigBurger__article--secondheading {
  color: #f64b3c;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  margin-bottom: 35px;
}

.bigBurger__article--paragraph {
  color: #f64b3c;
  text-align: center;
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 59px;
}

.bigBurger__article--cta {
  display: block;
  margin: 0 auto;
  background-color: #f64b3c;
  color: #fff;
  width: 220px;
  height: 60px;
  line-height: 60px;
  border-radius: 32px;
  text-align: center;
}

.bigBurger__article--cta:hover, .bigBurger__article--cta:focus {
  background-color: transparent;
  border: 1px solid #f64b3c;
  color: #f64b3c;
}

.bigBurger__picture {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

@media screen and (min-width: 992px) {
  .bigBurger__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bigBurger__article {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
  }
  .bigBurger__article--secondheading {
    text-align: left;
  }
  .bigBurger__article--paragraph {
    text-align: left;
  }
  .bigBurger__article--cta {
    margin: 0 auto 0 0;
  }
  .bigBurger__picture {
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
  }
}

.statistics-bg {
  background-color: #f64b3c;
}

.statistics__main {
  max-width: 89%;
  margin: 0 auto;
  padding: 0 29px;
  padding-top: 109px;
  padding-bottom: 102px;
}

@media screen and (min-width: 768px) {
  .statistics__main {
    padding-top: 59px;
    padding-bottom: 72px;
  }
}

.statistics__header {
  margin-bottom: 48px;
}

.statistics__header--secondheading {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  margin-bottom: 28px;
}

.statistics__header--paragraph {
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.statistics__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
}

.statistics__body--box {
  border: 3px solid #fff;
  border-radius: 50%;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistics__body--secondheading {
  font-size: 70px;
  line-height: 75px;
  color: #fff;
}

.statistics__body--paragraph {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .statistics__body--box {
    height: 300px;
  }
}

.package-bg {
  background: #feeceb;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 236, 235, 0.5)), to(rgba(254, 236, 235, 0.5))), url(../images/shapes3.png);
  background: linear-gradient(rgba(254, 236, 235, 0.5), rgba(254, 236, 235, 0.5)), url(../images/shapes3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.package__main {
  max-width: 89%;
  margin: 0 auto;
  padding: 0 29px;
  padding-top: 109px;
  padding-bottom: 102px;
}

@media screen and (min-width: 768px) {
  .package__main {
    padding-top: 59px;
    padding-bottom: 72px;
  }
}

.package__header--secondheading {
  text-transform: capitalize;
  font-size: 36px;
  margin-bottom: 48px;
  text-align: center;
  color: #f64b3c;
}

.package__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 59px;
}

.package__body--box {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  background-color: #fff;
  border-radius: 8px;
  padding: 27px 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.package__body--middleheading {
  text-transform: uppercase;
  text-align: center;
  color: #f64b3c;
  font-size: 26px;
}

.package__body--picture {
  padding: 10px 0;
}

.package__body--img {
  display: block;
  width: 100%;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.package__body--smallheading {
  text-align: center;
  color: #f64b3c;
  font-size: 26px;
}

.package__body--paragraph {
  color: #f64b3c;
  text-align: center;
  font-size: 17px;
}

.package__body--cta {
  display: block;
  margin: 0 auto;
  background-color: #f64b3c;
  color: #fff;
  width: 220px;
  height: 60px;
  line-height: 60px;
  border-radius: 32px;
  text-align: center;
}

.package__body--cta:hover, .package__body--cta:focus {
  background-color: transparent;
  border: 1px solid #f64b3c;
  color: #f64b3c;
}

.contact-bg {
  background-color: #f64b3c;
}

.contact__main {
  max-width: 89%;
  margin: 0 auto;
  padding: 0 29px;
  padding-top: 109px;
  padding-bottom: 102px;
}

@media screen and (min-width: 768px) {
  .contact__main {
    padding-top: 59px;
    padding-bottom: 72px;
  }
}

.contact__header {
  margin-bottom: 48px;
}

.contact__header--secondheading {
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 34px;
}

.contact__header--paragraph {
  color: #fff;
  text-align: center;
  font-size: 17.5px;
}

.contact__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contact__formulario--inp {
  width: 100%;
}

.contact__formulario--input {
  width: 100%;
  height: 44px;
  border-radius: 32px;
  border: none;
  padding: 20px;
}

.contact__formulario--input:hover, .contact__formulario--input:focus {
  outline: none;
}

.contact__formulario--btn {
  width: 100%;
}

.contact__formulario--cta {
  width: 100%;
  height: 44px;
  border-radius: 32px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #222222;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contact__main {
    width: 700px;
  }
  .contact__formulario {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
  .contact__formulario--inp {
    width: 100%;
  }
  .contact__formulario--input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .contact__formulario--btn {
    width: 40%;
  }
  .contact__formulario--cta {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.footer-bg {
  background-color: #222222;
}

.footer__main {
  max-width: 89%;
  margin: 0 auto;
  padding: 0 29px;
  padding-top: 109px;
  padding-bottom: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .footer__main {
    padding-top: 59px;
    padding-bottom: 72px;
  }
}

.footer__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.footer__article--middleheading {
  color: #fff;
  text-transform: capitalize;
  font-size: 26px;
}

.footer__article--paragraph {
  color: #fff;
  text-align: center;
  font-size: 14.2px;
}

.footer__article--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.footer__article--list:nth-child(2) .footer__article--link i {
  padding: 10px 14px;
}

.footer__article--link i {
  background-color: #fff;
  padding: 10px 12px;
  border-radius: 32px;
  color: #222222;
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__article--link i:hover, .footer__article--link i:focus {
  background-color: #f64b3c;
  color: #fff;
}

.footer__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.footer__about--middleheading {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 26px;
  margin-bottom: 40px;
  font-weight: 500;
}

.footer__about--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.footer__about--link {
  text-transform: none;
  color: #fff;
}

.footer__about--link:hover, .footer__about--link:focus {
  color: #f64b3c;
}

.footer__services--middleheading {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 26px;
  margin-bottom: 40px;
  font-weight: 500;
}

.footer__services--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.footer__services--link {
  text-transform: none;
  color: #fff;
}

.footer__services--link:hover, .footer__services--link:focus {
  color: #f64b3c;
}

.footer__other--middleheading {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 26px;
  margin-bottom: 40px;
  font-weight: 500;
}

.footer__other--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.footer__other--link {
  text-transform: none;
  color: #fff;
}

.footer__other--link:hover, .footer__other--link:focus {
  color: #f64b3c;
}

@media screen and (min-width: 768px) {
  .footer__aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
  }
}

@media screen and (min-width: 992px) {
  .footer__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__article {
    width: 38%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__article--paragraph {
    text-align: left;
  }
  .footer__aside {
    width: 48%;
  }
  .footer__about--menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__about--middleheading {
    text-align: left;
  }
  .footer__services--menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__services--middleheading {
    text-align: left;
  }
  .footer__other--menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__other--middleheading {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */